<?xml version="1.0" encoding="UTF-8"?>
<plugin 
	id="cordova-appodeal-prime"
	version="1.0.1"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns="http://apache.org/cordova/ns/plugins/1.0">
	<name>Appodeal Prime</name>
	<description>Appodeal Prime Plugin</description>
	<author>Wichanan</author>

	<js-module name="AppodealPrime" src="www/appodealprime.js">
	  <clobbers target="appodealprime"/>
	</js-module>

	<engines>
	    <engine name="cordova" version=">=7.0.0" />
	    <engine name="cordova-android" version=">=6.0.0" />
	</engines>

	<dependency id="cordova-plugin-cocoapod-support"/>
	<dependency id="cordova-custom-config"/>

	<platform name="android">
        <preference name="ANDROID_SUPPORT_RECYCLERVIEW_VERSION" default="27+" />
	    <config-file parent="/*" target="res/xml/config.xml">
			<feature name="AppodealPrime">
				<param name="android-package" value="com.appodealprime.AppodealPrime" />
			</feature>
		</config-file>
	    <config-file parent="/manifest" target="AndroidManifest.xml">
	        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	    </config-file>
	    <config-file parent="/manifest/application" target="AndroidManifest.xml">
	    	
	        <uses-library
			     android:name="org.apache.http.legacy"
			     android:required="false" />
	    </config-file>

	    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
	        <application  android:usesCleartextTraffic="true" android:networkSecurityConfig="@xml/network_security_config" />
	    </edit-config>
	    <resource-file src="src/android/network_security_config.xml" target="res/xml/network_security_config.xml"  />
	    
	    <framework src="com.google.android.gms:play-services-ads:16.+" />
	    <framework src="com.google.android.gms:play-services-location:16.+" />
	    <framework src="com.google.android.exoplayer:exoplayer-core:2.8.4" />
	    <framework src="com.google.android.exoplayer:exoplayer-hls:2.8.4" />
	    <framework src="com.android.support:multidex:1.0.3" />

	    <framework src="com.android.support:support-v4:$ANDROID_SUPPORT_RECYCLERVIEW_VERSION" />
	    <framework src="com.android.support:recyclerview-v7:$ANDROID_SUPPORT_RECYCLERVIEW_VERSION" />

	    <framework src="src/android/dependency_fix.gradle" custom="true" type="gradleReference" />
	    
	    <framework src="com.appodeal.ads:sdk:2.7.3.+" />
	    <framework src="com.appodeal.optional:flurry-ads:11.6.0" />
	    <framework src="com.appodeal.optional:flurry-analytics:11.6.0" />

        <source-file src="src/android/Actions.java" target-dir="src/com/appodealprime" />
        <source-file src="src/android/Action.java" target-dir="src/com/appodealprime" />
        <source-file src="src/android/Events.java" target-dir="src/com/appodealprime" />
        <source-file src="src/android/AppodealPrime.java" target-dir="src/com/appodealprime" />
        <source-file src="src/android/ads/AdBase.java" target-dir="src/com/appodealprime/ads" />
        <source-file src="src/android/ads/BannerAd.java" target-dir="src/com/appodealprime/ads" />
        <source-file src="src/android/ads/APNativeAd.java" target-dir="src/com/appodealprime/ads" />
        <source-file src="src/android/ads/InterstitialAd.java" target-dir="src/com/appodealprime/ads" />
        <source-file src="src/android/ads/RewardVideo.java" target-dir="src/com/appodealprime/ads" />
	</platform>


</plugin>
